IS_DEBUG=True
IS_DOCKERIZED=False

ALLOW_CREDENTIALS=True
ALLOW_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
ALLOW_METHODS=["GET","POST","PUT","PATCH","DELETE"]

POSTGRES_DB=social_network
POSTGRES_USER=social_network
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

ADMIN_SECRET_KEY=changeme

TIMEOUT=30.0
CONNECT=5.0
MAX_CONNECTIONS=100
MAX_KEEPALIVE_CONNECTIONS=20
KEEPALIVE_EXPIRY=30.0

S3_ENDPOINT_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=
S3_BUCKET=
